@import url('https://fonts.googleapis.com/css2?family=Glory:wght@300&family=Roboto+Mono:wght@100&display=swap');
h1 {
  background-color: rgb(49, 78, 139);
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: sans-serif;
  font-size: 80px;
  height: 100px;
}
h2 {
  text-decoration: underline;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.me {
  float: right;
  box-shadow: black;
  border: 1px solid black;
  position: relative;
  top: 10px;
  right: 50px;
}
a {
  color: rgb(94, 191, 255);
}
.tb {
  color: white;
}
.bb {
  color: rgb(255, 238, 0);
}
.last {
  color: yellow;
}
footer {
  background-color: rgb(49, 78, 139);
  text-align: center;
}
