@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600&family=Lora:wght@600&display=swap');
a:link{
    text-decoration: none;
}
h1 a:link{
    color: white;
}
nav a:link{
    color: white;
}
h2 a:link{
    color: black;
}
p a:link{
    color: #6495ED;
}
ul{
    list-style-type: none;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
.post-date,p{
    font-family: Arial, Helvetica, sans-serif;
}
.post-date{
    color: #8c8c8c;
}
body{
    margin: 0;
    width: 900px;
    height: inherit;
    overflow-x: hidden;
    background-color: #F7EDD7;
}
div{
    margin: 0;
}
article{
    background-color: white;
    box-shadow: 5px 5px 5px rgba(79, 79, 79, 0.425);
    padding: 2em;
    margin-bottom: 1em;
    
}
h1,h2{
    font-family: 'Libre Franklin', sans-serif;
font-family: 'Lora', serif;
}
h2{
    font-size: 2em;
    margin-bottom: 2em;
}
nav{
    border-top: 1px solid white;

}
header{
    margin: 0 auto;
    color: white;
    background-color: #6495ED;
    text-align: right;
    padding: 3em;
}
main{
    padding:2em;
}

@media only screen and (min-width: 100px) {
    body{
        display: block;
        max-width: 100%;
       
    }
    figure{
        align-items: center;
    }
    figure img{
        width: 13em;
        height: auto;
    }
  }
  @media only screen and (min-width: 600px) {
    div{
        max-width: 90%;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        gap: 10px;
    }
    header{
        grid-column-start: 1;
        grid-column-end: 1;
    }
    main{
        width: 100%;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    figure img{
        width: 16em;
    }
  }