@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: white;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(184, 147, 78);
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}
section {
  width: 95%;
  background-color: khaki;
  border: solid 1px black;
  margin-bottom: 10px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.425);
}

footer {
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 800px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
  }
} ;
