@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
table {
  font-family: 'Ubuntu', sans-serif;
}

table {
  border: 1px solid rgb(155, 155, 155);
  box-shadow: 5px 5px 5px rgba(98, 140, 166, 0.8);
  text-align: center;
  background-color: rgb(197, 197, 197);
}

.hi {
  font-size: 1.55em;
  font-weight: bold;
  padding: 0.3em;
}
th,
td {
  padding: 0.5em;
}
#ac {
  background-color: #7fb9c2;
}
.per {
  background-color: #628ca6;
  color: white;
}

tbody,
tr:nth-child(odd) {
  background-color: #e7f0ed;
}
tbody {
  background-color: #e7ffed;
}
tfoot {
  font-size: 0.7em;
}
