.containers {
  max-width: 80%;
  margin: 0.5rem auto;
  display: block;
}

section {
  width: fit-content;
  height: auto;
  padding: 4.2%;
  text-align: left;
  margin: 15px;
  background-color: rgb(255, 162, 144);
  border: 2px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.425);
}
section img {
  border: 3px white solid;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.425);
  width: 30%;
  height: auto;
  margin-bottom: 10px;
}
section h2 {
  color: black;
}

section:nth-of-type(odd) img {
  float: right;
  margin-left: 10px;
}

section:nth-of-type(even) img {
  float: left;
  margin-right: 10px;
}

section:nth-of-type(even) {
  text-align: right;
  background-color: #ffa290;
}

section:nth-of-type(odd) {
  background-color: #f6bd26;
}
.recep {
  text-align: center;
  margin: 15px;
  background-color: #9e2d01;
  margin-right: 10px;
  color: white;
  border: 3px solid black;
}

@media only screen and (max-width: 900px) {
  section {
    text-align: center;
  }
  section img {
    width: 100%;
    float: none;
    padding-left: 0;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  section:nth-of-type(even) {
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  /* n/a */
}
