.reserv {
  text-align: center;

  padding: 1em 0px 1em 0px;
  border: 3px solid rgb(158, 45, 1);
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.phone {
  background-color: rgb(158, 45, 1);
  grid-column: 1;
  margin: 2em;
  padding-left: 1em;
  color: white;
}
.phone a {
  color: white;
}
.sumimg {
  width: 50%;
  height: auto;
  float: right;
  margin: 0em 0em 1em 1em;
  border: 2px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.425);
}
.templesum {
  grid-column: 2;
  margin: 2em;
}
@media only screen and (max-width: 900px) {
  #grid {
    display: block;
  }
  #grid img {
    float: none;
    width: 100%;
  }
  .phone {
    padding: 2em;
  }
}
@media only screen and (max-width: 480px) {
}
