@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600&family=Montserrat:wght@300&display=swap');
/* font-family: 'Libre Franklin', sans-serif;
font-family: 'Montserrat', sans-serif; */
/* colors: 
yelow: rgb(246, 189, 38)
brown: rgb(158, 45, 1)
pink: rgb(255, 162, 144) */
h1 {
  color: rgb(158, 45, 1);
}
h2 {
  color: rgb(246, 189, 38);
}
.test {
  color: white;
}
#content {
  background-color: white;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  margin: 0 auto;
}
main {
  padding: 1.2em;
}
.icon {
  background-color: #fff;
  border: 1px solid rgb(246, 189, 38);
  height: 100px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 100px;
}
.headcon {
  color: white;
  display: flex;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  background-color: rgb(158, 45, 1);
}
.test {
  font-weight: 600;
}
.title {
  padding-left: 1em;
  font-size: 1.2rem;
}

nav {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  color: whitesmoke;
  background-color: white;
}
.navigation {
  display: flex;
  list-style: none;
  padding: 0;
  font-size: 1.2em;
  margin: auto;
}
.navigation li {
  flex: 1 1 auto;
}
.navigation a {
  text-align: center;
  display: block;
  padding: 0.8rem 2%;
  text-decoration: none;
  color: rgb(158, 45, 1);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  transition: 0.5s;
}
.navigation li:first-child {
  display: none;
}

.active {
  height: 50px;
  width: auto;
  background-color: rgb(246, 189, 38);
}
nav ul li a:hover {
  padding: 1em;
}

ul {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
}
footer {
  background-color: rgb(158, 45, 1);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1em;
  padding: 1em;
}
footer a {
  color: yellow;
}

@media only screen and (max-width: 750px) {
  button {
    display: block;
    background-color: transparent;
  }
  ul.navigation.responsive li {
    display: block;
  }
  nav {
    display: block;
  }
  .navigation {
    overflow: hidden;
    display: block;
  }
  .navigation li:first-child {
    display: block;
  }
  .navigation li {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .headcon {
    background-color: cornflowerblue;
  }
}
