@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Raleway&display=swap');
.content {
  background-color: white;
  width: 80%;
  margin: 0 auto;
}
body {
  background-color: rgb(189, 185, 185);
}
.icon {
  border: 5px solid black;
  background-color: white;
  justify-content: flex-start;
  width: 5em;
  height: 5em;
  margin: 10px 10px;
}
.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 3em;
  justify-content: center;
  color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;

  background-color: #126a70;
  margin: 0px;
}
nav {
  margin: 0 auto;
  background-color: #6feaf2;
}
.navigation {
  color: rgb(0, 0, 0);

  list-style: none;
  padding: 0;
  font-size: 1.2em;
  font-family: 'Raleyway', sans-serif;
  margin: auto;
}
.navigation li:first-child {
  display: block;
}
.navigation li {
  display: none;
}
.navigation a {
  display: block;
  text-align: center;
  padding: 0.8rem 2%;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.responsive li {
  display: block;
}
main button {
  background-color: transparent;
}
.heroimage {
  display: none;
}

.forecast li {
  display: none;
}

h1 {
  color: #346c70;
  font-family: 'Poppins', sans-serif;
}
h2 {
  color: #1eb2bd;
  font-family: 'Poppins', sans-serif;
}
h3 {
  font-family: 'Raleyway', sans-serif;
}
body {
  margin-left: 1em;
}

p {
  font-family: 'Raleyway', sans-serif;
}

.socials {
  display: flex;
  justify-content: space-evenly;
}
footer {
  background-color: #126a70;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1em;
  padding: 1em;
}
@media only screen and (min-width: 760px) {
  main {
    text-align: center;
    padding: 1.2em;
  }

  .summary {
    position: absolute;
    top: 20em;
    left: 20em;
    max-width: 25%;
    margin: 0;
    padding: 0.5rem;
    font-size: 0.8rem;
    color: #000000;
    background-color: #126a70;
  }
  .navigation {
    display: flex;
  }
  .navigation li {
    display: block;
    flex: 1 1 auto;
  }
  .navigation a {
    text-align: center;
  }
  .navigation li:first-child {
    display: none;
  }
  button {
    display: none;
  }
  .heroimage {
    display: block;
  }
  table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    width: 100%;
    border-color: grey;
  }

  .fiveday {
    background-color: #126a70;
  }
  td {
    border: 3px solid #fcbfb7;
    display: table-cell;
    font-size: 2em;
    text-align: center;
  }
  .article h3 {
    font-size: 3em;
    padding: 0.3em;
  }
  .articleimg {
    float: right;
    width: 12em;
  }
  .article {
    background-color: #126a70;
  }
  .locationmap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #126a70;
  }
  .rcolumm {
    grid-column: 2/2;
  }
  .lcolumn {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
