.containers {
  max-width: 80%;
  margin: 0.5rem auto;
  display: block;
}
/* .containers img {
  width: 20%;
} */
section {
  width: fit-content;
  height: auto;
  padding: 4.2%;
  text-align: left;
  margin: 15px;
  background-color: rgb(255, 162, 144);
}
section h2 {
  color: black;
}
section:nth-of-type(odd) img {
  width: 30%;
  height: auto;
  float: right;
  margin-left: 10px;
}
section:nth-of-type(even) img {
  width: 30%;
  height: auto;
  float: left;
  margin-right: 10px;
}
section:nth-of-type(even) {
  text-align: right;
  background-color: rgb(255, 162, 144);
}
section:nth-of-type(odd) {
  background-color: rgb(246, 189, 38);
}
@media only screen and (max-width: 900px) {
  section {
    text-align: center;
  }
  section:nth-of-type(odd) img {
    width: 100%;
    float: none;
    padding-left: 0;
    margin: 0 auto;
  }
  section:nth-of-type(even) img {
    width: 100%;
    float: none;
  }
  section:nth-of-type(even) {
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
}
